<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo fav.png">
    <title>Our Services</title>
</head>
<body>
    <header>
        <!-- Include the header -->
        <%- include('../components/header') %>
    </header>
    <section>
        <!-- Banner Photo with Text -->
        <div class="banner__services">
            <div class="banner-text">
                <h2><b style="color: #fb923c;">Our</b> Physiotherapy Services - What <b style="color: #fb923c;">We</b> provide.</h2>
                <p>Here at <b style="color: #fb923c;">Dr. Physio Clinic</b>  we specialise in a comprehensive range of treatments aimed at enhancing physical function, mobility, and overall well-being.
                    The Physiotherapy Department aims at delivering highly specialised services and physical rehabilitation programs for patients of all age groups and with any ailment or disability arising due to various reasons.  
                </p>
            </div>
        </div>
    </section>

    <section class="section__container about__container">
        <div class="about__content">
          <h2 class="section__header"><b style="color:#fb923c">Our</b> Specializations.</h2>
          <p>Physiotherapy services here at <b style="color:#fb923c"> Dr. Physio Clinic</b> encompass a comprehensive range of treatments aimed at enhancing physical function, 
            mobility, and overall well-being.
          </p>
          <p>
            Our skilled physiotherapists tailor personalized treatment plans to address a variety of conditions, injuries, and 
            rehabilitation  needs. Whether it's recovering from sports injuries, managing chronic pain, improving posture, or regaining 
            mobility after surgery, our physiotherapy services combine evidence-based techniques such as manual therapy, therapeutic 
            exercises, electrotherapy modalities, and education to optimize healing and restore optimal function
          </p>
          <p>
            Our goal is to empower patients to regain independence, alleviate discomfort, prevent future injuries, and achieve 
            their highest level of physical health and performance.
          </p>
        </div>
        <div class="about__image">
          <img src="assets/11.jpg" alt="specialization" />
        </div>
    </section>

    <h2 class="heading" style="text-align: center;">What<b style="color: #fb923c;"> We</b> Specialise in.</h2>
    <div class="services__container">   
        <div class="box-container">
    
            <div class="box">
                <img src="assets/12.png" alt="">
                <h3>Myo Fascial Pain</h3>
                <p>Myofascial pain is characterized by localized areas of muscle tightness and tenderness, often accompanied by
                   referred pain. It results from trigger points, which are hypersensitive spots within taut bands of muscle fibers.</p>
            </div>
    
            <div class="box">
                <img src="assets/13.png" alt="">
                <h3>Chronic Back Pain</h3>
                <p>Chronic back pain refers to persistent discomfort in the upper, middle, or lower back that lasts for more than three months. It can result from
                   various factors such as muscle strain, injury, poor posture, or underlying medical conditions like herniated discs or arthritis.</p>

            </div>
    
            <div class="box">
                <img src="assets/14.jpg" alt="">
                <h3>Artheritis</h3>
                <p>Arthritis is a common condition characterized by inflammation and stiffness in the joints. There are many types of arthritis, with osteoarthritis and rheumatoid arthritis being the most prevalent.</p>
                
            </div>
    
            <div class="box">
                <img src="assets/15.jpeg" alt="">
                <h3>Stroke Rehabilitation</h3>
                <p>Stroke rehabilitation is a comprehensive process aimed at helping stroke survivors regain independence and improve their quality of life after experiencing a stroke. It typically involves a multidisciplinary team of healthcare professionals, including physiotherapists, occupational therapists, speech therapists, and nurses.</p>
                
            </div>
    
            <div class="box">
                <img src="assets/16.jpeg" alt="">
                <h3>Knee Pain</h3>
                <p>Knee pain is a common issue that can result from various causes, including injuries, overuse, or underlying medical conditions. Such as but not limited to, Injuries, Overuse, Arthritis, Bursitis, Patellofemoral pain syndrome (runner's knee), Iliotibial (IT) band syndrome</p>
            </div>
    
            <div class="box">
                <img src="assets/17.jpeg" alt="">
                <h3>Frozen Shoulder</h3>
                <p>Frozen shoulder, also known as adhesive capsulitis, is a condition characterized by stiffness, pain, and limited range of motion in the shoulder joint. It typically develops gradually and progresses through three stages. The exact cause of frozen shoulder is not always clear, but it can develop following shoulder injury or surgery, prolonged immobilization of the shoulder.</p>
            </div>

            <div class="box">
                <img src="assets/18.jpg" alt="">
                <h3>Post Accident Rehabilitation</h3>
                <p>Post-accident rehabilitation refers to the process of physical and psychological recovery following an accident or injury. The goals of post-accident rehabilitation are to restore physical function, alleviate pain, improve quality of life, and promote independence.</p>
            </div>
        </div>   
    </div>
    
    <section class="section__container why__container">
        <div class="why__image">
          <img src="assets/32.jpg" alt="why choose us" />
        </div>
        <div class="why__content">
          <h2 class="section__header"><b style="color: #fb923c">Our</b> Services</h2>
          <p>
            With a steadfast commitment to your well-being, our team of highly
            trained healthcare professionals ensures that you receive nothing
            short of exceptional patient experiences.
          </p>
        <div class="why__grid">
          <span><i class="ri-empathize-line"></i></span>
          <div>
            <h4>Personalized Treatment Plans</h4>
            <p>
              Our experienced physiotherapists will assess your condition thoroughly and develop a personalized treatment plan 
              tailored to your specific needs and goals. 
            </p>
          </div>
          <span><i class="ri-microscope-line"></i></span>
          <div>
            <h4>Comprehensive Care Approach</h4>
            <p>
              At our clinic, we believe in a holistic approach to physiotherapy. In addition to providing hands-on therapy and 
              exercises, we address the underlying factors contributing to your condition, such as posture, biomechanics, and lifestyle habits.
            </p>
          </div>
          <span><i class="ri-presentation-line"></i></span>
          <div>
            <h4>Patient Education and Empowerment</h4>
            <p>
              Throughout your treatment journey, we'll educate you about your condition, teach you self-management strategies, 
              and provide guidance on injury prevention techniques. We aim to empower you to lead a healthier, more active lifestyle.
            </p>
          </div>
        </div>
    </section>
    
    <h2 class="heading" style="text-align: center; padding-top: 70px;">What<b style="color: #fb923c;"> We</b> Provide.</h2>
    <div class="services__container">   
        <div class="box-container">
    
            <div class="box">
                <img src="assets/19.jpg" alt="">
                <h3>Manual Therapy</h3>
                <p>Manual therapy is a specialized form of physical therapy that involves hands-on techniques to diagnose, treat, and prevent musculoskeletal conditions and pain. It encompasses a variety of techniques, including manipulation, mobilization, soft tissue massage, stretching, and joint mobilization.</p>
            </div>
    
            <div class="box">
                <img src="assets/20.jpg" alt="">
                <h3>Kinesio Taping</h3>
                <p>Kinesio taping is a therapeutic technique that involves applying a special elastic tape to the skin in order to provide support and stability to muscles and joints without restricting movement. Developed by Dr. Kenzo Kase in the 1970s, kinesio tape is designed to mimic the properties of human skin, allowing for a full range of motion while providing structural support and pain relief.</p>
            </div>
    
            <div class="box">
                <img src="assets/21.jpg" alt="">
                <h3>Myo Fascial Release</h3>
                <p>Myofascial release (MFR) is a manual therapy technique used to release tension and tightness in the fascia, the connective tissue that surrounds and supports muscles, bones, and organs throughout the body. Fascia can become tight and restricted due to injury, overuse, poor posture, or emotional stress, leading to pain, stiffness, and limited range of motion.</p>
            </div>
    
            <div class="box">
                <img src="assets/19.jpeg" alt="">
                <h3>Sports Massage</h3>
                <p>Sports massage is a specialized form of massage therapy designed to help athletes and active individuals recover from workouts, prevent injuries, and enhance athletic performance. It typically involves a combination of techniques including Swedish massage, deep tissue massage, stretching, and joint mobilization.</p>
            </div>
    
            <div class="box">
                <img src="assets/23.jpg" alt="">
                <h3>Dry Needling</h3>
                <p>Dry needling is a technique used by physical therapists, chiropractors, and other healthcare professionals to treat musculoskeletal pain and dysfunction. It involves inserting thin, solid needles into specific trigger points or tight bands of muscle, without injecting any medication or solution (hence the term "dry").</p>
            </div>
    
            <div class="box">
                <img src="assets/24.jpg" alt="">
                <h3>Cupping Therapy</h3>
                <p>Cupping therapy is an ancient form of alternative medicine that involves placing cups on the skin to create suction. The suction draws the skin and underlying tissue upward into the cup, which may leave circular marks or bruises on the skin. Cupping is believed to promote healing by increasing blood flow, reducing inflammation, and relaxing muscles.</p>
            </div>
            <div class="box">
                <img src="assets/25.jpg" alt="">
                <h3>Electro Therapy</h3>
                <p>Electrotherapy is a form of medical treatment that uses electrical stimulation to relieve pain, promote healing, and improve muscle function. It encompasses various modalities and techniques that deliver electrical impulses to the body through electrodes placed on the skin.</p>
            </div>
        </div>   
    </div>
    <footer>
        <!-- Include the footer -->
        <%- include('../components/footer') %>
    </footer>

</body>
</html>