<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/assets/logo fav.png">
    <title>Testimonials</title>
</head>
<body>
    <header>
        <!-- Include the header -->
        <%- include('../components/header') %>
    </header>
        <div class="testimonials__container">
          <div class="beginning">
            <p style="color: #fb923c;">TESTIMONIALS</p>
            <h1>What <b style="color: #fb923c">Our</b> clients say about us.</h1>
          </div>
          <div class="testimonials__grid">
            <div class="testimonials__card">
              <span><i class="ri-double-quotes-l"></i></span>
              <p>
                Exceptional care and expertise! Dr. Prince and the team at <b style="color: #fb923c">Dr. Physio Clinic</b> helped me regain mobility and get back to 
                an active lifestyle. Highly recommend
              </p>
              <hr />
              <p class="name">Prakash Naidu</p>
            </div>
            <div class="testimonials__card">
              <span><i class="ri-double-quotes-l"></i></span>
              <p>
                Finally found relief for my chronic back pain at <b style="color: #fb923c">Dr. Physio Clinic.</b> Personalized treatment plan made all the difference. 
                Thank you!
              </p>
              <hr />
              <p class="name">Sharan Madhav</p>
            </div>
            <div class="testimonials__card">
              <span><i class="ri-double-quotes-l"></i></span>
              <p>
                Top-notch care for athletes! <b style="color: #fb923c">Dr. Physio Clinic</b> helped me recover from a sports injury and prevent future ones. 
                Highly recommend their expertise
              </p>
              <hr />
              <p class="name">Rajiv K.</p>
            </div>
          </div>
          <div class="end">
            <h4>Enjoyed <b style="color: #fb923c">Our</b> Service? Leave us a review on Google!</h4>
            <p>
              Or Read from plenty of our other patients what they had to say about us.
            </p>
          </div>
          <div class="action-buttons">
            <a href="https://g.page/r/Cb0315C0s2oKEB0/review" target="_blank" style="text-decoration: none;">
            <button style="font-size: 16px; color: #cfed22; font-family: 'Noto Serif', serif;">Write A Review</button>
            </a>
            
            <a href="https://www.google.com/maps/place/Dr+Physio+clinic+(Therapeutic+Sports+Massage+)/@13.0601753,77.6452172,17z/data=!4m8!3m7!1s0x3bae1976397103c5:0xa6ab3b490d737bd!8m2!3d13.0601753!4d77.6477921!9m1!1b1!16s%2Fg%2F11k575flgm?authuser=1&entry=ttu" target="_blank" style="text-decoration: none;">
            <button style="font-size: 16px; color: #cfed22; font-family: 'Noto Serif', serif;">View Reviews</button>
            </a>
          </div>
        </div>
    <footer>
        <!-- Include the footer -->
        <%- include('../components/footer') %>
    </footer>

</body>
</html>